{% extends "app/base.html" %}

{% block title %}
	Registros
{% endblock %}

{% block page_content %}
<br>
<h3>Mediciones para Pila {{ pila.nombreID }}</h3>
<p><b>Posición:</b> {{ first.posicion }}</p>
<p><b>Lanza:</b> {{ first.lanza }}</p>
{% if registros %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Humedad</th>
      </tr>
    </thead>
    <tbody>
        {% for medicion in registros %}
          <tr>
            <td>{{ medicion.fecha_creacion|date:'d/m/Y' }}</td>
            <td>{{medicion.temperatura}}</td>
            <td>{{medicion.humedad}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <div class="alert alert-warning" role="alert">
        No existen geristros para pila {{pila.nombreID}}
    </div>
{% endif %}

{% endblock %}