{% extends 'app/base.html' %}

{% block title %}
	Crear Pila
{% endblock %}

{% block page_content %}
<br>
<h3>Editar Pila</h3>
<div class="container">
	<form method="POST" enctype="multipart/form-data"> 
	    <!-- Security token -->
	    {% csrf_token %} 

	    {% for field in form %}
	    <div class="form-group">
		    <label for="{{ field.name }}">{{ field.label }}</label>
		    {{ field }}
	  	</div>
	  	{% endfor %}
	  	<br>
        <div class="btn-group" role="group">
            <input type="submit" class="btn btn-primary" value="Guardar">
            <a class="btn btn-secondary" href="{% url 'app:materia-prima-nueva' %}" role="button">Agregar Materia Prima</a>
        </div>
	</form>
</div> 
{% endblock %}